# Если не для тестирования, то установить пустую строку; если для тестирования - установить true
IS_TESTING=
LOG_FOLDER_PATH=
CURRENT_LOG_FILE=${LOG_FOLDER_PATH}/postfix.log
ARCHIVE_LOG_PATTERN="${LOG_FOLDER_PATH}/postfix.log.*.gz"

WEB_PATH_DOMAIN=
WEB_PATH_SCHEMA=
ENDPOINT_API_TOKEN=

ENDPOINT_RETURN_RESPONSE='/api/return-response'

ENDPOINT_GET_LAST_ARCHIVE='/api/get-last-archive'
ENDPOINT_ADD_ARCHIVE_NAMES='/api/add-archives-names'
ENDPOINT_ADD_ARCHIVE_EMAILS='/api/add-archive-emails'
ENDPOINT_ADD_ARCHIVE_LOG_ROWS='/api/add-archive-log-rows'

ENDPOINT_CLEAR_CURRENT_RECORDS='/api/clear-current-emails'
ENDPOINT_CLEAR_CURRENT_LOG_ROWS='/api/clear-current-log-rows'
ENDPOINT_ADD_CURRENT_EMAILS='/api/add-current-emails'
ENDPOINT_ADD_CURRENT_LOG_ROWS='/api/add-current-log-rows'

ADD_RECORDS_CHUNK_SIZE=10;
