# Если не для тестирования, то установить пустую строку; если для тестирования - установить true
IS_TESTING=
LOG_FOLDER_PATH=
CURRENT_LOG_FILE=${LOG_FOLDER_PATH}/postfix.log
ARCHIVE_LOG_PATTERN="${LOG_FOLDER_PATH}/postfix.log.*.gz"

WEB_PATH_DOMAIN=
WEB_PATH_SCHEMA=
ENDPOINT_API_TOKEN=

ENDPOINT_RETURN_RESPONSE='/api/return-response'
ENDPOINT_GET_LAST_ARCHIVE='/api/get-last-archive'
ENDPOINT_CLEAR_CURRENT_RECORDS='/api/clear-current-records'
ENDPOINT_ADD_CURRENT_RECORDS='/api/add-current-records'
ENDPOINT_ADD_ARCHIVE_RECORDS='/api/add-archive-records'

ADD_RECORDS_CHUNK_SIZE=10;
